.bannerDesign {
    position: relative;
}

.childDesign {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.animate {
    animation: myAnim 1s ease 0s infinite normal forwards;
    -webkit-animation: myAnim 1s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0%,
    50%,
    100% {
        color: red;
    }
    25%,
    75% {
        color: green;
    }
}